<h3 class="page-header">Add Invoice</h3>
<button type="button" (click)="addNewRow()" class="btn btn-primary">Add new Row</button><br>
<form [formGroup]="invoiceForm">
    <div formArrayName="itemRows">
        <div *ngFor="let itemrow of invoiceForm.controls.itemRows.controls; let i=index" [formGroupName]="i">
            <div class="form-field-wrapper clonediv">
                <div class="form-label-box"><label>hours</label></div>
                <div class="form-field-box">
                    <div class="c-col">
                        <select id="multiple-checkboxes1" formControlName="days" multiple="multiple" class="form-control width-160">
              <option>5 of 7 selected</option>
              <option>5 of 7 selected</option>
            </select>
                    </div>
                    <div class="c-col">
                        <select formControlName="from" class="selectpicker show-tick form-control">
                <option>9:00 am</option>
                <option>9:00 am</option>
                <option>9:00 am</option>
            </select>
                    </div>

                    <div class="c-col">
                        <select formControlName="to" class="selectpicker show-tick form-control">
                <option>7:00 am</option>
                <option>7:00 am</option>
                <option>7:00 am</option>
            </select>
                    </div>
                </div>
            </div>
            <button *ngIf="invoiceForm.controls.itemRows.controls.length > 1" (click)="deleteRow(i)" class="btn btn-danger">Delete Button</button>
        </div>
    </div>
</form>
<pre>{{invoiceForm.value | json}}</pre>