div.file.btn {
    position: relative;
    overflow: hidden;
}

input.filebtn {
    position: absolute;
    font-size: 50px;
    opacity: 0;
    right: 0;
    top: 0;
}

.top-buffer {
    margin-top: 20px;
}