<div class="container">
    <div class="row top-buffer">
        <div class="col-sm-6">
            <div class="">
                Choose File
                <input type="file" name="file" ngFileSelect [options]="options" [uploadInput]="uploadInput" />
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="start-upload-btn btn btn-lg btn-primary" (click)="startUpload()">
        Start Upload
      </button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <div class="">
                Choose File
                <input type="file" name="file" ngFileSelect [options]="options" [uploadInput]="uploadInput" />
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="start-upload-btn btn btn-lg btn-primary" (click)="startUpload()">
        Start Upload
      </button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <div class="">
                Choose File
                <input type="file" name="file" ngFileSelect [options]="options" [uploadInput]="uploadInput" />
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="start-upload-btn btn btn-lg btn-primary" (click)="startUpload()">
        Start Upload
      </button>
        </div>
    </div>
    <div class="row top-buffer">
        <div class="col-sm-6">
            <div class="">
                Choose File
                <input type="file" name="file" ngFileSelect [options]="options" [uploadInput]="uploadInput" />
            </div>
        </div>
        <div class="col-sm-6">
            <button type="button" class="start-upload-btn btn btn-lg btn-primary" (click)="startUpload()">
        Start Upload
      </button>
        </div>
    </div>
</div>