<nav class="navbar navbar-inverse indigo">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a routerLink="">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle example-menu" data-toggle="dropdown" (click)="doNothing()">Examples
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a routerLink="listimages">Show Galary</a></li>
                    <li><a routerLink="gmt">Google Map</a></li>
                    <li><a routerLink="">Old Added</a></li>
                </ul>
            </li>
            <li><a routerLink="imageupload">Upload Images</a></li>
            <li><a routerLink="innerhtml">Inner Html</a></li>
        </ul>
    </div>
</nav>

<div class="container mainroot">
    <router-outlet></router-outlet>
</div>

<!--Footer-->
<footer class="page-footer indigo center-on-small-only pt-0">

    <!--Footer Links-->
    <div class="container">

        <!--First row-->
        <div class="row">

            <!--First column-->
            <div class="col-md-12">

                <div class="footer-socials mb-5 flex-center">

                    <!--Facebook-->
                    <a class="icons-sm fb-ic"><i class="fa fa-facebook fa-lg white-text mr-md-4"> </i></a>
                    <!--Twitter-->
                    <a class="icons-sm tw-ic"><i class="fa fa-twitter fa-lg white-text mr-md-4"> </i></a>
                    <!--Google +-->
                    <a class="icons-sm gplus-ic"><i class="fa fa-google-plus fa-lg white-text mr-md-4"> </i></a>
                    <!--Linkedin-->
                    <a class="icons-sm li-ic"><i class="fa fa-linkedin fa-lg white-text mr-md-4"> </i></a>
                    <!--Instagram-->
                    <a class="icons-sm ins-ic"><i class="fa fa-instagram fa-lg white-text mr-md-4"> </i></a>
                    <!--Pinterest-->
                    <a class="icons-sm pin-ic"><i class="fa fa-pinterest fa-lg white-text"> </i></a>
                </div>
            </div>
            <!--/First column-->
        </div>
        <!--/First row-->
    </div>
    <!--/Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2016 Copyright: <a routerLink="">WebSiteName</a>
        </div>
    </div>
    <!--/Copyright-->

</footer>
<!--/Footer-->