a {
    color: #fff;
}

.navbar-header {
    float: left;
}

ul.nav.navbar-nav li {
    display: inline-block;
    padding: 7px 20px;
}

ul.nav.navbar-nav {
    display: block;
    margin-left: 30%;
}

nav.navbar {
    margin-bottom: 40px;
}

ul.dropdown-menu a {
    color: #000;
}

.indigo {
    background-color: #3f51b5!important;
}

.center-on-small-only {
    text-align: center;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    height: 50px;
    line-height: 50px;
    color: rgba(255, 255, 255, .6);
    background-color: rgba(0, 0, 0, .2);
    text-align: center;
    font-size: .9rem;
}

footer.page-footer {
    margin-top: 20px;
    padding-top: 20px;
    color: #fff;
}

footer.page-footer a {
    color: #fff;
}

.icons-sm {
    padding: .5rem;
    margin: .5rem;
    font-size: 1.2rem;
}

.fa-lg {
    font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}

.mb-5,
.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.container.mainroot {
    min-height: 677px;
}

a.dropdown-toggle.example-menu {
    color: #fff;
    cursor: pointer;
}

a.dropdown-toggle.example-menu:hover,
a:hover {
    color: red;
    text-decoration: none;
}