<div class="container">
    <div class="row top-buffer">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [title]="title">
            <agm-marker [latitude]="lat" [longitude]="lng" [label]="label"></agm-marker>
        </agm-map>
    </div>
</div>